@import "../../styles/_vars.scss";

.buttonSend {
  overflow: hidden;
}

.buttonSend__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: transparent;
  font-weight: 700;
}

.buttonSend__arrowWrapper {
  width: 0;
  height: 21px;
  overflow: hidden;
}

.buttonSend:hover .buttonSend__arrowWrapper {
  width: 25px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  transition: width 0.1s ease-in-out;
  overflow: visible;
}

.buttonSend:hover .buttonSend__arrowWrapper_active {
  width: 0;
}

.buttonSend__arrow {
  width: 25px;
  margin-left: 13px;
}

.buttonSend__arrow_active {
  transform: translateX(1000%);
  transition: transform 300ms ease;
}

.buttonSend__checkWrapper {
  position: relative;
  display: none;
}

.buttonSend__checkWrapper_active {
  display: block;
}

.buttonSend__check {
  position: absolute;
  width: 25px;
  height: 15px;
  top: -8px;
  right: -12px;
}

.buttonSend__sendedText {
  font-weight: 700;
  margin-right: 18px;
}



