@import "../../styles/vars";

.help__row {
    position: relative;
    margin-bottom: 30px;
}
.help__row .PhoneInput {
    display: flex;
    flex-direction: row-reverse;
}
.help__row .PhoneInputCountry {
    display: none;
}
.help__row:nth-child(3) {
    margin-bottom: 60px;
}
.help__row:nth-child(4) {
    position: relative;
}

.help__inputWrapper {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    background: none;
    border-width: 0;
    transition: all 0.2s ease;
}
.help__input {
    width: 100%;
    height: 30px;
    font-family: $generalFont;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    border: 0;
    border-radius: 0;
    color: #000000;
    border-bottom: 2px solid #C2C2C2;
    appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}
.help__input::placeholder {
    color: #C2C2C2;
}
.help__row .PhoneInputInput {
    font-family: $generalFont;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    
}
.help__row .PhoneInputInput::placeholder {
    color: #C2C2C2;
}
.help__row textarea {
    height: 99px;
    resize: none;
    border-top: 2px solid #C2C2C2;
    border-left: 2px solid #C2C2C2;
    border-right: 2px solid #C2C2C2;
    color: #000000;
    padding: 4px 7px 11px 7px;
}
.help__row textarea::placeholder {
    color: #C2C2C2;
}

.help__error {
    position: absolute;
    right: 0;
    font-size: 10px;
    line-height: 30px;
    font-weight: 500;
    color: $labelColor;
}
.help__row:nth-child(4)  .help__error {
    position: absolute;  
    top: -26px;
    right: 0px;
}

.help__input_error {
    border-bottom: 2px solid $labelColor;
}

.help__label {
    display: none;
    /* position: absolute;
    color: #C2C2C2;
    font-size: 17px;
    font-weight: 500;
    transform: translateY(-35px);
    transition: all 0.2s ease; */
}
.help__row:nth-child(4) .help__label  {
    display: block;
    position: absolute;
    color: #C2C2C2;
    font-size: 17px;
    font-weight: 500;
    transform: translateY(-23px);
    transition: all 0.2s ease;
}
@media (max-width: $tablet) {
    .help__row {
        margin-bottom: 36px;
    }
    .help__input {
        font-size: 13px;
        line-height: 30px;
    }
    .help__row .PhoneInputInput {
        font-size: 13px;
    }
    .help__row textarea {
        height: 106px;
        padding: 5px 5px 5px 5px;
    }
    .help__error {
        right: 0;
        font-size: 8px;
        line-height: 30px;

    }
    .help__row:nth-child(4) .help__label  {
        font-size: 13px;
        transform: translateY(-23px);
    }

}
@media (max-width: $mobile) {
    .help__row {
        margin-bottom: 18px;
    }
    .help__row:nth-child(3) {
        margin-bottom: 32px;
    }
    .help__input {
        height: 16px;
        font-size: 14px;
        line-height: 10px;
        border-bottom: 1px solid #C2C2C2;
    }
    .help__input::placeholder {
        font-size: 7px;
        line-height: 10px;
    }
    .help__row .PhoneInputInput {
        font-size: 14px;
        height: 15px;
    }
    .help__row .PhoneInputInput::placeholder {
        font-size: 7px;
        line-height: 10px;
    }
    .help__row textarea {
        height: 56px;
        border-top: 1px solid #C2C2C2;
        border-left: 1px solid #C2C2C2;
        border-right: 1px solid #C2C2C2;
        padding: 3px 3px 3px 3px;
    }
    .help__error {
        right: 0;
        top: 10px;
        font-size: 6px;
        line-height: 10px;
    }
    .help__input_error {
        border-bottom: 1px solid $labelColor;
    }
    .help__row:nth-child(2)  .help__error {
        position: absolute;  
        top: 3px;
        right: 0px;
    }
    .help__row:nth-child(4)  .help__error {
        position: absolute;  
        top: -12px;
        right: 0px;
    }
    .help__row:nth-child(4) .help__label  {
        font-size: 7px;
        transform: translateY(-12px);
    }
    .help__row:last-child {
        margin-bottom: 10px;
    }

}







/* .help__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.help__label {
    font-size: 24px;
    width: 35%;
}

.help__inputWrapper {
    position: relative;
    width: 65%;
}

.help__input {
    width: 460px;
    height: 30px;
    padding: 6px 14px;
    font-size: 16px;
    line-height: 20px;
    background-color: #F1F0F0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: $generalFont;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 0 50px #F1F0F0;
    -webkit-box-shadow: inset 0 0 0 50px #F1F0F0;
    &:focus {
        outline: none;
    }
}

.help__input:-webkit-autofill {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}
  
.help__row .PhoneInputInput {
    font-family: $generalFont;
    border: none;
    font-size: 16px;
    background-color: #F1F0F0;
    box-shadow: inset 0 0 0 50px #F1F0F0;
    -webkit-box-shadow: inset 0 0 0 50px #F1F0F0;
    -webkit-text-fill-color: #000;
  }


.help__input_error {
    border-width: 3px;
    border-color: $accentColor;
    padding: 4px 12px; // уменьшаем паддинги на 2px из-за разной жирности бордера ошибки
}

.help__error {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 12px;
    line-height: 12px;
}

.help__row textarea {
    height: 134px;
    resize: none;
}

.help__row:last-child {
    margin-bottom: 6px;
} */